name: Reddit-Get Integration

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build_and_test_pr:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        python-version:
          - 3.11.x
          - 3.12.x
          - 3.13.x
          - 3.14.x
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Display Python Version
        run: |
          python --version
          pip --version

      - name: Update pip, setuptools, and wheel
        run: pip install -U pip setuptools wheel

      - name: Setup Poetry
        uses: abatilo/actions-poetry@v4.0.0
        with:
          poetry-preview: true

      - name: Display Poetry Version
        run: poetry --version

      - name: Cache Dependencies
        uses: actions/cache@v5
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Install Poetry Dependencies
        run: poetry install -vvv

      - name: Run Pytest with Black, isort, and coverage
        run: poetry run pytest -vvv --force-sugar --tb=native --cov=reddit_get --cov-fail-under=90 --cov-report=xml:docs/coverage/integration/report.xml --numprocesses=auto --color=yes --code-highlight=yes --durations=10

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          name: codecov-umbrella
          fail_ci_if_error: true
